html,
body {
  width: 100%;
  height: 100%;
}
#quiz-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#quiz-page div {
  border: 1px solid black;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #15bba5;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700;900&display=swap");

:root {
  --div-price-height: 60px;
}

body {
  margin: 0;
}

/* CARD SECTION */
#card-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card-section * {
  margin: 0;
  padding: 0;
}

#card-section .card {
  max-width: 330px;
  width: 90%;
  border-radius: 15px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

#card-section .card .card-part {
  position: relative;
}

#card-section .card .card-top,
#card-section .card .card-bottom {
  transition: all 0.4s ease-in;
  z-index: 10;
}

#card-section .card .card-top::before,
#card-section .card .card-bottom::before {
  content: "";
  position: absolute;
  border-style: solid;
  width: 100%;
  left: 0;
  box-sizing: border-box;
}

/* CARD TOP */
#card-section .card .card-top {
  background-color: #4085ed;
  border-radius: 15px 15px 0 0;
  padding: 2.5rem 1.5rem 0 1.3rem;
}

#card-section .card:hover .card-top {
  transform: translateY(calc(var(--div-price-height) * -1));
}

#card-section .card .card-top::before {
  border-color: transparent transparent transparent #4085ed;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: calc(var(--div-price-height));
  border-left-width: 330px;
  bottom: calc(var(--div-price-height) * -1);
}

#card-section .card .card-top .card-icon {
  font-size: 70px;
  color: #fff;
  height: 70px;
  /*   width: 70px; */
  display: inline-block;
  line-height: 50px;
  border-radius: 50%;
  margin-bottom: 15px;
}

#card-section .card .card-top .card-title {
  font-size: 32px;
  color: #fff;
}

/* CARD CENTER */
#card-section .card .card-center {
  height: var(--div-price-height);
  line-height: var(--div-price-height);
}

#card-section .card .card-center .price {
  font-size: 60px;
}

/* CARD BOTTOM */
#card-section .card .card-bottom {
  padding: 0 1.3rem 2.5rem 1.3rem;
  background-color: #1e1e1e;
  border-radius: 0 0 15px 15px;
}

#card-section .card:hover .card-bottom {
  transform: translateY(var(--div-price-height));
}

#card-section .card .card-bottom::before {
  border-color: transparent #1e1e1e transparent transparent;
  border-top-width: calc(var(--div-price-height) + 1px);
  border-right-width: 330px;
  border-bottom-width: 0;
  border-left-width: 0;
  top: calc(var(--div-price-height) * -1 - 1px);
}

#card-section .card .card-bottom .list-options {
  list-style: none;
}

#card-section .card .card-bottom .list-options li {
  font-size: 18px;
  color: #fff;
}

#card-section .card .card-bottom .list-options li:not(:last-child) {
  margin-bottom: 16px;
}

#card-section .card .card-bottom .btn-signup {
  margin-top: 35px;
  width: 85%;
  max-width: 190px;
  padding: 0.8rem 1rem;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-family: "Roboto Slab", serif;
  background-color: #2878eb;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 15;
  transition: all 0.4s ease-in;
}

#card-section .card:hover .card-bottom .btn-signup {
  transform: translateY(calc(var(--div-price-height) * -1));
}
.time {
  font-size: larger;
}
